.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: overlay;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.pointer {
  cursor: pointer;
}

body {
  background-image: url("assets/snlogo.png");
  background-blend-mode: soft-light;
  background-color: #3D96A6;
  background-repeat: space;
}